.main-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(253, 248, 242);
}

.config-area{
    position: fixed;
    top: 20px;
    left: 60px;
    font-size: 30px;
}

.Create-area{
    position: fixed;
    bottom: 20px;
    left: 60px;
    
}
.scroll-area{
    border: #ccc;
    max-height: 300px;
    max-width: 600px;
    background-color: rgb(241, 228, 211);
   
    overflow-y: auto;
    overflow-x: auto;
}
.li{
   list-style: none;
   border-bottom: 1px solid;

}