.main-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(253, 248, 242);
}

.setting-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(253, 248, 242);
}

.create-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(253, 248, 242);
}

.book-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(253, 248, 242);
}

.white-page{
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(255, 255, 255);
}
.black-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(63, 61, 61);
}
.lightgreen-page {
  display: flex;          
  flex-direction: column; 
  align-items: center;      
  min-height: 100vh;       
  padding: 40px;          
  font-size: 30px;
  background-color: rgb(166, 238, 182);
}














.config-area{
    position: fixed;
    top: 20px;
    left: 60px;
    font-size: 30px;
}

.Create-area{
    position: fixed;
    bottom: 20px;
    left: 60px;
    
}
.scroll-area{
    border: #969d9e;
    max-height: 300px;
    max-width: 600px;
    
    overflow-y: auto;
    overflow-x: auto;
}
.li{
   list-style: none;
   border-bottom: 1px solid;

}
.command-area{
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 500;
  flex-direction: column;
  gap: 10px;
  background-color: 'rgba(255, 255, 255, 0.9)';
  padding: 5px;
  max-Height: '90vh';
  overflow-y: auto;
}